body {
    font-family: Roboto;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
}
.Descuentos {
    width: 100vw;
    height: 5vh;
    background-color:#1CD1B0;
    position: relative;
    display: flex;
    align-items: center;
    }
.Heroes{
    background-color: #00669F;
    width: 100vw;
    height: 8vh;
    position: relative;
    display: flex;
    align-items: center;
}
/* Header */
/* Articles */
main{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
}

article{
    margin: 100px 0px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F3F3F3;
}
.Foto {
    border-radius: 50%;
    width: 150px;
    position: absolute;
    left: 80px;
    top: 120px;
}
article div{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
}
h3 {
    align-self: center;
}
button{
    background-color:#00669F;
    position: relative;
    width: 128.78px;
    height: 48.52px;
    align-self: center;
    color: #FFF9F9;
}

footer{
    background-color: #00669F;
    position: relative;
}
footer p {
    color: #FFF9F9;
}